/*===== Import Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    transition: 0.5s ease;
    background-color: #fff;
    height: 15%;
}

header>svg {
    display: none;
}


header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #0e0d0d;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    margin: 40px;
}


header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}




.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
    margin-top: 100px;
}


.home .content {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .content>h1 {
    font-size: 3em;
    font-weight: 800;
    line-height: 65px;
    width: 75%;
    margin-bottom: 20px;
    color: #000000;
}


.home .content>p {
    color: #000000;
    width: 70%;
}


.button-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button-comece {
    background-color: #FFE100;
    padding: 10px 50px;
    border-radius: 50px;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    color: #000;

    border: 2px solid #000;
    box-shadow: #000 -5px 3px;
}


.button-seta {
    background-color: #000;
    padding: 10px 30px;
    border-radius: 50px;
}


.parceiros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}

.parceiros>img {
    margin: 20px 60px 20px 60px;
    width: 150px;
}



.beneficios {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FFE100;
}


.beneficios-text {
    width: 40%;
    margin-right: 100px;
}

.beneficios-text>h1 {
    font-size: 2.3em;
    font-weight: 800;
}


.beneficios-text>p {
    font-weight: 300;
    margin-top: 20px;
}


.beneficios-horiz-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.beneficio-card {
    width: 200px;
    height: 200px;
    background-color: #FFE100;
    border: 2px solid #000;
    box-shadow: #000 -5px 3px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.beneficio-card>img {
    margin: 20px;
    width: 80px;
}


.beneficios-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}


.beneficios-redes>a {
    margin-right: 40px;
    margin-top: 20px;
}



.depoimentos-texto-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 30px 0px;
    width: 100%;
}


.depoimentos-texto-top>h1 {
    font-size: 2em;
    margin-bottom: 10px;
}


.div-card-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.card-depoimento {
    width: 30%;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: #00000046 2px 2px 20px;
}


.top-client {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.card-depoimento>.top-client>img {
    width: 100px;
}


.card-depoimento>.top-client>h1 {
    font-size: 0.8em;
}


.bottom-client {
    padding: 10px 20px 10px 20px;
}


.top-client {
    padding: 20px;
}

.top-client>img {
    margin: 0px 20px 0px 0px;
}

.bottom-client>img {
    width: 120px;
    margin: 20px 0px 20px 0px;
}


.servicos {
    background-color: #000;
    color: #fff;
}


.servicos-texto-top {
    text-align: center;
    padding: 100px 25%;
    margin-top: 100px;
}

.servicos-texto-top>h1 {
    font-size: 2em;
}


.servicos-texto-top>p {
    margin-top: 20px;
}



.servicos-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}


.servicos-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 30%;
}


.servicos-center-number {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.servicos-center-number>h1 {
    display: block;
    padding: 7px 34px;
    border-radius: 100%;
    background-color: #890078;
    font-size: 3em;
    color: #000;
}

.servicos-texto-principal>h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}


.botao-servicos-center {
    display: flex;
    justify-content: center;
}

.button-servicos {
    background-color: #890078;
    padding: 20px 60px;
    border-radius: 10px;
    margin: 50px 0px 100px 0px;
    text-decoration: none;
    color: #000;
}


.bonus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 100px 0px;
}

.bonus-textos {
    width: 40%;
}

.bonus-textos>h1 {
    font-size: 2em;
    font-weight: 800;
}

.bonus-textos>p {
    width: 85%;
}




.img-bonus-desktop {
    width: 40%;
    margin: 0px 50px 0px 50px;
}

.img-bonus-desktop>img {
    width: 100%;
}


.bonus-textos>p {
    font-size: 16px;
    margin-bottom: 30px;
}


.bonus-textos>a {
    text-decoration: none;
    color: #000;
}


.bonus-seta {
    background-color: #00AA00;
    padding: 5px 10px;
    border-radius: 50% 50%;
    margin-left: 5px;
}



.contato {
    background-color: #000;
    color: #fff;
}


@media (min-width: 501px) {
    .img-mobile {
        display: none;
    }
}

@media (max-width: 500px) {
    header>.navigation {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        transition: 0.5s ease;
        background-color: #fff;
        height: 10%;
        z-index: 1;
        position: fixed;
    }

    header>img {
        max-width: 165px;
        width: 165px;
    }

    header>svg {
        display: block;
    }

    .home {
        padding: 0px;
        margin-top: 20px;
    }

    .home>.content {
        text-align: left;
        align-items: normal;
        padding: 20px;
    }

    .home>.content>h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        width: 100%;
        margin-top: 100px;
    }


    .home>.content>p {
        line-height: 26px;
        font-size: 16px;
        width: 100%;
    }

    .button-center-row {
        margin-top: 5px;
    }

    .parceiros {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .parceiros>img {
        width: 45%;
    }


    .beneficios {
        display: flex;
        flex-direction: column;
    }

    .beneficios-text {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .beneficios-text>h1 {
        font-size: 24px;
        line-height: 32px;
        line-height: normal;
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }

    .beneficios-text>p {
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .beneficios-redes {
        justify-content: center;
        align-items: center;
    }

    .beneficios-horiz-card {
        width: 80%;
    }

    .beneficios-horiz-card>.beneficio-card {
        width: 70%;
    }

    .beneficio-card {
        margin-bottom: 30px;
    }

    .depoimentos-texto-top>h1 {

        font-size: 24px;
        line-height: 32px;
        line-height: normal;
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }

    .div-card-column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card-depoimento {
        width: 80%;
    }

    .servicos-texto-top {
        padding: 100px 10px;
    }

    .servicos-texto-top>h1 {
        font-size: 20px;
    }


    .servicos-texto-top>p {
        font-size: 14px;
        margin-top: 10px;
    }

    .servicos-row-center {
        flex-direction: column;
        margin-top: 0px;
    }


    .servicos-center {
        width: 80%;
        margin-bottom: 50px;
    }

    .bonus {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 70px;
    }

    .bonus-textos {
        width: 90%;
        padding: 0px;
    }

    .img-mobile {
        width: 100%;
        padding: 10px 10px;
        margin: 0 auto;
    }

    .img-mobile>img {
        width: 99%;
        margin: 0px;
    }

    .img-bonus-desktop {
        display: none;
    }


}